<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Layout -->
<div class="container">
    <header>
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <nav>
            <ul class="nav-items">
                <li>
                    Label
                </li>
                <li>
                    Label
                </li>
                <li>
                    Label
                </li>
                <li>
                    <button>
                        Sign In
                    </button>
                </li>
            </ul>
        </nav>
    </header>
</div>
<main>
    <section class="hero">
        <div class="container-inner">
            Hero
        </div>
    </section>
    <section class="about">
        <div class="container-inner">
            About
        </div>
    </section>
    <section class="team">
        <div class="container-inner">
            Team
        </div>
    </section>
    <section class="map">
        Map
    </section>
</main>
<footer>
    <div class="container-inner">
        Footer
    </div>
</footer>